.header-top-menu .nav.notika-top-nav li .search-dd {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.gallery_image {
    height: 50px;
    border-radius: 20%;
    display: inline-block;
}